<%= form_with(model: @type, remote: true) do |form| %>
  <% if type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: "type_name" %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <div class="field" id='select_type_category'>
      <%= form.label :category_id %>
      <%= form.select :category_id, @categories.map{|cat| [cat.name, cat.id]} %>
    </div>

  <div class="field">
      <%= form.label :type_id %>
      <%= form.select :type_id, @types.map{|type| [type.name, type.id]} , include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
